<div class="quest">

  <div class="quest-header">
    <div routerLink="/new-people" class="back button">
      <img src="/assets/images/back.svg">
      <p>back</p>
    </div>
    <div class="page-title">
      <p>Quest</p>
    </div>
    <div class="skip button">
      <img src="/assets/images/skip.svg">
      <p>skip</p>
    </div>
  </div>

  <p class="question">What’s your perfect holiday destination?</p>

  <div class="answer-cards">

    <div class="card">
      <div class="image">
        <img src="/assets/images/quest/city.png" alt="big city">
      </div>
      <p class="text">big city</p>
    </div>

    <div class="card">
      <div class="image">
        <img src="/assets/images/quest/mountains.jpg" alt="mountains">
      </div>
      <p class="text">mountains</p>
    </div>

    <div class="card">
      <div class="image">
        <img src="/assets/images/quest/beach.jpg" alt="beach">
      </div>
      <p class="text">beach</p>
    </div>

    <div class="card">
      <div class="image">
        <img src="/assets/images/quest/home.jpg" alt="home">
      </div>
      <p class="text">home</p>
    </div>
  </div>
</div>