<div class="achievements">

  <div class="achievements-header">
    <div routerLink="/new-people" class="back button">
      <img src="/assets/images/back.svg">
    </div>
    <div class="page-title">
      <p>Achievements</p>
    </div>
  </div>

  <div class="achievements-icons">
    <div class="icon">
      <img src="/assets/images/star.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/earth-globe.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/hearth.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div class="icon">
      <img src="/assets/images/lock.svg">
    </div>
  </div>
</div>
