<div class="achievements" (click)="hideModal()">

  <div class="achievements-header">
    <div routerLink="/new-people" class="back button">
      <img src="/assets/images/back.svg">
    </div>
    <div class="page-title">
      <p>Achievements</p>
    </div>
  </div>

  <div class="achievements-icons">
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/star.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/earth-globe.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/hearth.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
    <div (click)="toggleModal($event)" class="icon">
      <img src="/assets/images/lock.svg">
    </div>
  </div>
</div>

<div *ngIf="modalActive" (click)="toggleModal($event)" class="achievement modal">
  <div class="modal-container">
    <div class="icon">
      <img src="/assets/images/earth-globe.svg">
    </div>
    <p class="name">Mr. Worldwide</p>
    <p class="description">Have a friend from every continent of the world.</p>
    <div class="progressbar">
      <div class="bar"></div>
      <span>7/7</span>
    </div>
  </div>
</div>