<app-header></app-header>

<div class="messages">

  <div class="message" routerLink="/direct-message">
    <div class="profile">
      <img class="profile-picture" src="/assets/images/people/kate.jpg">
      <img class="country" src="/assets/images/flags/gb.svg">
    </div>
    <div class="details">
      <p class="name-age">Kate, 25</p>
      <p class="text">edd ki a faszom te csira fiu :D</p>
    </div>
    <div class="matchpercent">
      <img src="/assets/images/67-percent.svg">
    </div>
  </div>

  <div class="message" routerLink="/direct-message">
    <div class="profile">
      <img class="profile-picture" src="/assets/images/people/anna.jpg">
      <img class="country" src="/assets/images/flags/gb.svg">
    </div>
    <div class="details">
      <p class="name-age">Anna, 22</p>
      <p class="text">Hi whats up? :))</p>
    </div>
    <div class="matchpercent">
      <img src="/assets/images/45-percent.svg">
    </div>
  </div>

  <div class="message" routerLink="/direct-message">
    <div class="profile">
      <img class="profile-picture" src="/assets/images/people/lisa.jpg">
      <img class="country" src="/assets/images/flags/gb.svg">
    </div>
    <div class="details">
      <p class="name-age">Lisa, 22</p>
      <p class="text">Hey :))</p>
    </div>
    <div class="matchpercent">
      <img src="/assets/images/89-percent.svg">
    </div>
  </div>

  <div class="message" routerLink="/direct-message">
    <div class="profile">
      <img class="profile-picture" src="/assets/images/people/jin.jpg">
      <img class="country" src="/assets/images/flags/gb.svg">
    </div>
    <div class="details">
      <p class="name-age">Jin, 26</p>
      <p class="text">Hey :))</p>
    </div>
    <div class="matchpercent">
      <img src="/assets/images/72-percent.svg">
    </div>
  </div>

  <div class="message" routerLink="/direct-message">
    <div class="profile">
      <img class="profile-picture" src="/assets/images/people/elena.jpg">
      <img class="country" src="/assets/images/flags/gb.svg">
    </div>
    <div class="details">
      <p class="name-age">Elena, 25</p>
      <p class="text">edd ki a faszom te csira fiu :D</p>
    </div>
    <div class="matchpercent">
      <div class="percent">
        <img src="/assets/images/59-percent.svg">
      </div>
    </div>
  </div>

  <div class="message" routerLink="/direct-message">
    <div class="profile">
      <img class="profile-picture" src="/assets/images/people/elise.jpg">
      <img class="country" src="/assets/images/flags/gb.svg">
    </div>
    <div class="details">
      <p class="name-age">Elise, 21</p>
      <p class="text">Howdy</p>
    </div>
    <div class="matchpercent">
      <img src="/assets/images/45-percent.svg">
    </div>
  </div>

  <div class="message" routerLink="/direct-message">
    <div class="profile">
      <img class="profile-picture" src="/assets/images/people/amber.jpg">
      <img class="country" src="/assets/images/flags/gb.svg">
    </div>
    <div class="details">
      <p class="name-age">Amber, 21</p>
      <p class="text">edd ki a faszom te csira fiu :D</p>
    </div>
    <div class="matchpercent">
      <img src="/assets/images/67-percent.svg">
    </div>
  </div>

</div>