<app-header></app-header>

<div class="preferences">

  <div class="userprofile">
    <div class="profile-container">
      <div class="profile">
        <img class="profile-picture" src="/assets/images/people/kate.jpg">
        <img class="country" src="/assets/images/flags/gb.svg">
      </div>
      <p class="edit-profile">edit profile</p>
    </div>
    <div class="profile-details">
      <p class="name">Kate, 22</p>
      <p class="location">London, UK</p>
    </div>
  </div>

  <div class="looking-for">
    <p class="title">Looking for</p>

    <div class="dude">
      <div class="icon">
        <img src="/assets/images/preferences/dude.png">
      </div>
      <div class="friendship">
        <p for="dude-friendship">friendship</p>
        <label class="toggle-check">
          <input type="checkbox" class="toggle-check-input" />
          <span class="toggle-check-text"></span>
        </label>
      </div>
      <div class="relationship">
        <p for="dude-friendship">relationship</p>
        <label class="toggle-check">
          <input type="checkbox" class="toggle-check-input" checked/>
          <span class="toggle-check-text"></span>
        </label>
      </div>
    </div>

    <div class="gal">
      <div class="icon">
        <img src="/assets/images/preferences/gal.png">
      </div>
      <div class="friendship">
        <p for="gal-friendship">friendship</p>
        <label class="toggle-check">
          <input type="checkbox" class="toggle-check-input" />
          <span class="toggle-check-text"></span>
        </label>
      </div>
      <div class="relationship">
        <p for="gal-friendship">relationship</p>
        <label class="toggle-check">
          <input type="checkbox" class="toggle-check-input" checked />
          <span class="toggle-check-text"></span>
        </label>
      </div>
    </div>

  </div>

  <div class="distance">
    <p class="title">Distance</p>
    <div class="slider">
      <input type="range">
    </div>
  </div>

  <div class="age">
    <p class="title">Age</p>
    <div class="slider">
      <input type="range">
    </div>
  </div>
</div>