.profile-page {
    /* max-width: 500px; */
    /* margin: 0 auto; */
    /* border-radius: 6px; */
    /* box-shadow: inset 0px 4px 25px rgba(0, 0, 0, 0.25); */
}

.profile-card {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: inset 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    background: #F2F2F2;
}

.card .profile-picture {
    grid-row: 1 / span 6;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: black;
}

.profile-picture .carousel {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card .country {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.card .country img {
    width: 40%;
    z-index: 2;
}

.card .name-age {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    padding: 5px;
    color: #F2F2F2;
    font-family: 'Open Sans';
    line-height: normal;
    font-size: 30px;
    /* -webkit-text-stroke: 0.5px black; */
    z-index: 2;
}

.card .matchpercent {
    grid-row: 3;
    grid-column: 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
}

.card .matchpercent img {
    width: 100%;
    z-index: 2;
    max-width: 108px;
}

.profile-details {
    padding: 10px;
}

.bio p, .instagram p {
    font-family: 'Open Sans';
    font-style: normal;
    line-height: normal;
    font-size: 15px;
    color: #6C6C6C;
    margin: unset;
}

.bio .title, .instagram .title {
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 20px;
}

.instagram .title {
    margin-bottom: 14px;
}

.instagram .images .image {
    width: 110px;
    height: 110px;
    display: flex;
    margin: 0 auto;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.instagram .images .image img {
    object-fit: cover;
}

.square {
  position: relative;
  /* width: 50%; */
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content img {
    object-fit: contain;
}