<app-header></app-header>

<div class="grid-container">
  <app-new-people-card *ngFor="let user of users" [user]="user"></app-new-people-card>


  <!-- <div class="card">
    <div class="profile-picture">
      <img src="/assets/images/people/amber.jpg">
    </div>
    <div class="country">
      <img src="/assets/images/flags/gb.svg">
    </div>
    <div class="name-age">Amber, 21</div>
    <div class="matchpercent">
      <img src="/assets/images/67-percent.svg">
    </div>
  </div>
  <div class="card">
    <div class="profile-picture">
      <img src="/assets/images/people/catlyn.jpg">
    </div>
    <div class="country">
      <img src="/assets/images/flags/gb.svg">
    </div>
    <div class="name-age">Catlyn, 20</div>
    <div class="matchpercent">
      <img src="/assets/images/72-percent.svg">
    </div>
  </div>
  <div class="card">
    <div class="profile-picture">
      <img src="/assets/images/people/elena.jpg">
    </div>
    <div class="country">
      <img src="/assets/images/flags/de.svg">
    </div>
    <div class="name-age">Elena, 25</div>
    <div class="matchpercent">
      <img src="/assets/images/59-percent.svg">
    </div>
  </div>

  <div class="card">
    <div class="profile-picture">
      <img src="/assets/images/people/anna.jpg">
    </div>
    <div class="country">
      <img src="/assets/images/flags/jp.svg">
    </div>
    <div class="name-age">Anna, 22</div>
    <div class="matchpercent">
      <img src="/assets/images/45-percent.svg">
    </div>
  </div>
  <div class="card">
    <div class="profile-picture">
      <img src="/assets/images/people/kate.jpg">
    </div>
    <div class="country">
      <img src="/assets/images/flags/fr.svg">
    </div>
    <div class="name-age">Kate, 25</div>
    <div class="matchpercent">
      <img src="/assets/images/59-percent.svg">
    </div>
  </div> -->
</div>